<container>
    {{!-- <img> here burger image --}}
    <h2>Welcome to Barf Burger!</h2>
    <!-- <div class="container"><img></div> -->
</container>

<div class="row">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-3">
      {{#each burgers}}
         {{#unless devoured}}

        <form id="update" action="/burgers/devour/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
        </form>

           <div class="container">{{id}}. {{burger_name}}
               {{!-- <form action="api/burgers/{{this.id}}" method="PUT" > --}}
                   <button type="submit">Devour</button>
                {{!-- </form>  --}}

          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div class="col-md-3">
        {{#each burgers}}
        {{#if devoured}}
        <div class="container">
            {{burger_name}}
        </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<div>
  <h3>Make a burger by fill out the field with it's name...</h3>
    <div class="row">
        <div class="col-md-4"></div>
    <form class="create-burger" action="/api/burgers" method="POST">
        <div class="form-group col-md-4">
            <label for="exampleFormControlTextarea1"></label>
            <input class="form-control" rows="2" id="burgerName" name="burger_name"></form>
            <br>
            <button class='addBurger' type="submit">Add a Burger</button>
        </div>
    </input>
    </div>
</div>
